.container-fluid {
  width: 95vw;
  padding: 0;
}

.title {
  margin-bottom: 20px; /* Space below the title */
  padding: 10px; /* Padding inside the title div */
  text-align: center; /* Center align the title content */
  background-color: #f8f9fa; /* Light background color for the title div */
}

.title-content {
  font-size: 24px;
  font-weight: bold;
  color: #333; /* Title text color */
}

.content {
  padding: 10px; /* Padding inside each content div */
}

.flexbox-container {
  display: flex;
  flex-direction: row;
}

.content-upper, .content-bottom {
  margin-bottom: 20px; /* Space below the upper content */
}

.upper-section, .bottom-section {
  background-color: #000000; /* Light background color for sections */
  padding: 15px; /* Padding inside each section */
  border-radius: 5px; /* Rounded corners for sections */
}



.style1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: white;
  /* Other styles for style1 */
}

.style2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: white;
  
  /* Other styles for style2 */
}