.container-fluid {
  width: 95vw;
  padding: 0;
}

.title {
  margin-bottom: 20px; /* Space below the title */
  padding: 0px; /* Padding inside the title div */
  padding-top: 5px;
  text-align: left; /* Center align the title content */
  border-bottom: 5px, solid, #000000;
}



.content {
  padding: 10px; /* Padding inside each content div */
}

.flexbox-container {
  display: flex;
  flex-direction: row;
}

.content-upper, .content-bottom {
  margin-bottom: 20px; /* Space below the upper content */
}

.upper-section, .bottom-section {
  background-color: #000000; /* Light background color for sections */
  padding: 15px; /* Padding inside each section */
  border-radius: 15px; /* Rounded corners for sections */
}

.square {
  padding: 5px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.title-content {
  font-family: 'Roboto', sans-serif;
  font-size: xx-large;
  font-weight: bold;
  color: #000000; /* Title text color */
}

.style1 {
  font-family: 'Roboto', sans-serif;
  font-size: small;
  font-weight: medium;
  color: white;
  /* Other styles for style1 */
}

.style2 {
  font-family: 'Roboto', sans-serif;
  font-size: large;
  font-weight: bold;
  color: white;
  /* Other styles for style1 */
}